# **Set-up**

Terminal command:

```console
pip install numpy
pip install pandas
pip install openpyxl
pip install matplotlib
```

In [1]:
import numpy as np
import pandas as pd

Ensure current working directory is in "EC1B1" folder

# **Read Excel**

In [3]:
df_spain_raw = pd.read_excel('./data/data_spain.xlsx')
df_us_raw = pd.read_excel('./data/data_united_states.xlsx')

We save dataframe in another variable to keep the raw data untouched

In [5]:
spain_1 = df_spain_raw
us_1 = df_us_raw

Inspect the dataframe

In [6]:
spain_1.head()

,International Financial Statistics (IFS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,"Economic Activity, Industrial Production, Index","Exchange Rates, US Dollar per Domestic Currenc...","International Reserves and Liquidity, Reserves...","Prices, Consumer Price Index, All items, Index"
1,Jan 1960,NaN,0.016667,233,2.857368
2,Feb 1960,NaN,0.016667,253,2.855049
3,Mar 1960,NaN,0.016667,299,2.851573
4,Apr 1960,NaN,0.016667,326,2.853891

# **Initial Cleaning**

In [22]:
spain_2 = spain_1 \
    .rename(columns={'Unnamed: 1': 'industrial_index', 'Unnamed: 2': 'exchange_rate', 'Unnamed: 3': 'reserves', 'Unnamed: 4': 'price_index'}) \
    .dropna()

In [24]:
spain_3 = spain_2
spain_3['exchange_rate'] = spain_3['exchange_rate'].apply(lambda x: 1/x)

In [25]:
spain_3

,International Financial Statistics (IFS),industrial_index,exchange_rate,reserves,price_index
13,Jan 1961,18.681625,60.000,536,2.909531
14,Feb 1961,18.247714,60.000,565,2.885768
15,Mar 1961,18.423624,60.000,561.55,2.873017
16,Apr 1961,18.611261,60.000,593.5,2.880552
17,May 1961,19.584629,60.000,643.5,2.873017
...,...,...,...,...,...
368,Aug 1990,57.138375,97.029,53227.717281,52.200576
369,Sep 1990,97.803577,98.467,53790.187718,52.750025
370,Oct 1990,100.909947,95.697,55428.040577,53.218335
371,Nov 1990,104.110449,93.958,56347.862332,53.165017
372,Dec 1990,88.202071,95.234,56004.835968,53.295997